/* <!--------w-----------

    Project 4
    Name: Khoi Dong	
    Date: 15 April, 2023
    Description: Website Development & Deployment

---------------------> */
html,
body,
header,
nav,
main,
footer,
section,
div,
ul,
li,
p,
h1,
h2,
h4,
img 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: white ;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    max-width: 1000px;
    background-color: #fff;
    margin: 10px auto;
    
}
a
{
    text-decoration: none;
}

.header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid grey ;
    padding: 25px;
    row-gap: 15px;
}

.headerNav ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.headerNav ul li
{
    padding: 5px;
    font-size: 20px;   
}
.headerNav ul li a
{
    color: #024250;
    font-weight: 600;
    letter-spacing: 1px;
}
.headerNav ul li :hover
{
    background-color: #e3fc74;
}
.logo
{
    width: 150px;
}  
.top_section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 25px;
    background-color: #EEF1EE ;
}
.top_section p
{
    font-size: 60px;
    font-weight: bolder;
    padding-top: 80px;
}
.contact_img
{
    border-radius: 100%;
    max-width: 300px;
    padding: 25px;
}

#message_form
{
    padding: 80px 0px;
    
}
#message_form fieldset
{
    width: 60%;
    border:2px solid grey;
    border-radius: 10px;
    padding: 25px;
    margin: 0px auto;
}

#message_form legend
{
    font-size: 30px;
}
#message_form ol li
{
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
    line-height: 30px;
}
#message_form label
{
    float: left;
    font-size: 18px;
    width: 120px;
}
#message_form input, #message_form textarea
{
    padding: 5px;
    line-height: 30px;
    width: 250px;
}
.contactError_error
{
    color: red;
}
.button_submit
{
    border: 2px solid #024250;
    background-color: #024250;
    border-width: 2px ;
    font-size: large;
    color: #fff;
    border-radius: 8px;
    letter-spacing: 1px;
    padding: 5px;
    float: right;
    
}
.button_reset
{
    border: 2px solid #024250;
    background-color: #fff;
    border-width: 2px ;
    font-size: large;
    color: #024250;
    border-radius: 8px;
    letter-spacing: 1px;
    padding: 5px;
    
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    column-gap: 100px;
    row-gap:30px;
    
}
.footer_container
{
    background-color: #EEF1EE;
    padding: 25px;
}

.footerNav li
{
    list-style: none;
    padding: 5px 0px;
}
.footer_logo
{
    width:100px;
}
.footerNav li a
{
    color:#024250;
    font-weight: 500;
}
.footerNav li :hover
{
    background-color: #e3fc74;
}
.footer_copyright
{
    text-align: end;
    border-top: 1px solid grey;
    padding-top: 20px;
}